@(user: models.users.User)
@main("About Us", user) {
	<h1>About us</h1>
	<h3>We are a new phone selling company, Aiming to take over the phone selling market. We have every new phone on the market and we promise to not dissapoint.</h3>
	<h3>We are highly ambitious, and expect to grow our company so eveyone in the country thinks of us when they need or want a new phone! With over 10 years of knowledge, we have picked up skills and different techniques to continuously provide our customers with jaw dropping prices and top quality services.</h3>
	<h3>We hope you are happy with our service. Please dont hesitate to give any feedback, and enjoy your visit to BestPhones.ie</h3>
}