@(pagename: String, user: models.users.User)(content: Html)
<!DOCTYPE html>
<html>
    <head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
	<style>
	 .footer { font-weight: bold; color: white; background-color: black; }
	 .sidecol { font-weight: bold; background-color: black; color: white; }
	 .sidecol h2 { font-weight: bold; }
	 .midcol h1 { text-align: center; font-weight: bold; }
	 .midcol h3 { text-align: center; color: black;)
	</style>
	<title>BestPhones.ie @pagename</title>
    </head>
    <body>
	<nav class="navbar navbar-inverse">
	    <div class="container-fluid">
		<div class="navbar-header">
		    <a class="navbar-brand" href="#">BestPhones</a>
		</div>
		<ul class="nav navbar-nav">
		    <li @if(pagename == "Home"){class="active"}><a href="@routes.HomeController.index()">Home</a></li>
		    <li @if(pagename == "On Sale"){class="active"}><a href="@routes.HomeController.onsale()">On Sale</a></li>
		    <li @if(pagename == "About Us"){class="active"}><a href="@routes.HomeController.about()">About us</a></li>
		    <li @if(pagename == "Log In"){class="active"}>
				@if(user != null) {
					<a href="@routes.LoginController.logout()">Log Out</a>
				} else {
					<a href="@routes.LoginController.login()">Log In</a>
				}					
			</li>
		</ul>
	    </div>
	</nav>

	<div class="container-fluid">
	    <div class="row">
		<div class="col-sm-2">
		    <div class="well sidecol">
			<h2>FLASH SALE</h2>
			<h3>Switch to Bill-Pay and Save 35%!</h3>
			</p>Switch to bill pay today and and save 35% on the first 6 months of your contract on selected phones. **LIMITED TIME ONLY** </p>		    </div>
		</div>
		<div class="col-sm-8">
		    <div class="midcol">
                @content
            </div>
		</div>
		<div class="col-sm-2">
		    <div class="well sidecol">
			<h2>Events</h2>
			<h3>1st birthday of Best Phones</h3>
			<p>On the 15th of April 2019, we will be celebrating our first birthday and we would like to celebrate it with you guys! We will be located in Stephens Green Shopping Centre from 1pm - 5pm. See you all there. </p>
		    </div>
		</div>
	    </div>
	    <div class="row">
		<div class="col-sm-12">
		    <div class="well footer">
			<h5>Website created by Ben Daly, Lubo Kitov, Liam Yambao.</h5>
		    </div>
		</div>
	    </div>
	</div>
	<script src="@routes.Assets.versioned("javascripts/main.js")"></script>
    </body>
</html>


	 }